In [1]:
import numpy as np
import pandas as pd

In [2]:
gdp = pd.read_csv("gapminder_gdp.csv");
exp = pd.read_csv("gapminder_expectancy.csv");
pop = pd.read_csv("gapminder_population.csv");

In [3]:
#wide --> tidy
gdp = pd.melt(gdp, id_vars = ['country'], var_name = 'Year', value_name = 'GDP')
exp = pd.melt(exp, id_vars = ['country'], var_name = 'Year', value_name = 'Life-Expectancy')
pop = pd.melt(pop, id_vars = ['country'], var_name = 'Year', value_name = 'Population')

print(gdp.head(n=5))

       country  Year    GDP
0        Aruba  1990  1.87B
1  Afghanistan  1990    NaN
2       Angola  1990  35.9B
3      Albania  1990   3.8B
4      Andorra  1990  1.68B

In [4]:
gdp.sort_values(by=['country', 'Year']).groupby(['country'])
exp.sort_values(by=['country', 'Year']).groupby(['country'])
pop.sort_values(by=['country', 'Year']).groupby(['country'])

print(gdp.head(n=5))
print(exp.head(n=5))
print(pop.head(n=5))

       country  Year    GDP
0        Aruba  1990  1.87B
1  Afghanistan  1990    NaN
2       Angola  1990  35.9B
3      Albania  1990   3.8B
4      Andorra  1990  1.68B
                country  Year  Life-Expectancy
0           Afghanistan  1990             53.8
1                Angola  1990             50.3
2               Albania  1990             72.6
3               Andorra  1990             79.1
4  United Arab Emirates  1990             68.7
                country  Year Population
0           Afghanistan  1990      13.3M
1                Angola  1990      12.2M
2               Albania  1990      3.28M
3               Andorra  1990      56.7k
4  United Arab Emirates  1990      1.94M

In [5]:
gapminder = gdp.merge(exp, how='left', on=['country', 'Year'])

display(gapminder)

           country  Year    GDP  Life-Expectancy
0            Aruba  1990  1.87B              NaN
1      Afghanistan  1990    NaN             53.8
2           Angola  1990  35.9B             50.3
3          Albania  1990   3.8B             72.6
4          Andorra  1990  1.68B             79.1
...            ...   ...    ...              ...
6295         Samoa  2019   864M             70.5
6296         Yemen  2019    NaN             67.8
6297  South Africa  2019   336B             64.3
6298        Zambia  2019  23.4B             63.1
6299      Zimbabwe  2019  19.4B             60.7

[6300 rows x 4 columns]

In [6]:
gapminder_full_df = gapminder.merge(pop, how='left', on=['country', 'Year'])

display(gapminder_full_df)

           country  Year    GDP  Life-Expectancy Population
0            Aruba  1990  1.87B              NaN        NaN
1      Afghanistan  1990    NaN             53.8      13.3M
2           Angola  1990  35.9B             50.3      12.2M
3          Albania  1990   3.8B             72.6      3.28M
4          Andorra  1990  1.68B             79.1      56.7k
...            ...   ...    ...              ...        ...
6295         Samoa  2019   864M             70.5       198k
6296         Yemen  2019    NaN             67.8      29.8M
6297  South Africa  2019   336B             64.3      59.3M
6298        Zambia  2019  23.4B             63.1      18.4M
6299      Zimbabwe  2019  19.4B             60.7      14.9M

[6300 rows x 5 columns]

In [7]:
gapminder_full = gapminder_full_df.sort_values(by=['country', 'Year'])

gapminder_full.head(n=5)

print(type(gapminder_full))

<class 'pandas.core.frame.DataFrame'>

In [8]:
gapminder_full.reset_index().to_csv('gapminder.csv')